### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### A database is an organized collection of data that is stored and managed on a computer system. It allows users to easily access, manipulate, and update data, as well as run queries to extract specific information.

#### SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems.

#### SQL databases are based on a relational model, which means that data is organized into tables with columns and rows. These databases use SQL to manipulate and query data. SQL databases are known for their high level of data consistency, their ability to handle complex queries, and their strong support for transaction management. Some examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

#### NoSQL databases, on the other hand, do not use a relational model. Instead, they use a variety of data models such as key-value, document, graph, or column-family. NoSQL databases are designed to be highly scalable, fault-tolerant, and flexible. They are particularly well-suited for handling large amounts of unstructured or semi-structured data. Some examples of NoSQL databases include MongoDB, Cassandra, and Redis.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used to define the database schema, which includes the structure of the database objects such as tables, indexes, and constraints.

#### The four most commonly used DDL commands are:

###### CREATE: This command is used to create a new database object, such as a table or an index. For example, the following SQL statement creates a new table called "employees" with columns for "employee_id", "first_name", "last_name", "email", and "hire_date":

In [ ]:
CREATE TABLE employees (
  employee_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  email VARCHAR(100),
  hire_date DATE
);

#### DROP: This command is used to delete an existing database object, such as a table or an index. For example, the following SQL statement drops the "employees" table that we created in the previous example:
###### DROP TABLE employees;

#### ALTER: This command is used to modify the structure of an existing database object. For example, the following SQL statement adds a new column called "salary" to the "employees" table: 
###### ALTER TABLE employees ADD COLUMN salary DECIMAL(10,2);

#### TRUNCATE: This command is used to delete all the data in a table, while keeping its structure intact. For example, the following SQL statement deletes all the data in the "employees" table:
###### TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) that is used to manipulate data within the database.

#### The three most commonly used DML commands are:

#### INSERT: This command is used to insert new rows of data into a table. For example, the following SQL statement inserts a new row into the "employees" table we created in the previous question:
###### INSERT INTO employees (employee_id, first_name, last_name, email, hire_date, salary) VALUES (1, 'John', 'Doe', 'john.doe@example.com', '2022-02-22', 50000);

#### UPDATE: This command is used to modify existing rows of data in a table. For example, the following SQL statement updates the "salary" column of the "employees" table for the employee with ID 1:
###### UPDATE employees SET salary = 55000 WHERE employee_id = 1;

#### DELETE: This command is used to delete rows of data from a table. For example, the following SQL statement deletes the row for the employee with ID 1 from the "employees" table:
###### DELETE FROM employees WHERE employee_id = 1;

### Q4. What is DQL? Explain SELECT with an example.

#### DQL (Data Query Language) is a subset of SQL (Structured Query Language) that is used to retrieve data from the database. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in the database.

#### The SELECT statement has the following basic syntax:

In [ ]:
SELECT column1, column2, ...
FROM table1
[JOIN table2 ON condition]
WHERE condition
GROUP BY column
HAVING condition
ORDER BY column [ASC|DESC]

#### Here's a brief explanation of each clause:

###### SELECT: specifies the columns to be retrieved from the table(s).
###### FROM: specifies the table(s) from which to retrieve data.
###### JOIN: joins two or more tables based on a specified condition.
###### WHERE: specifies the conditions that must be met for a row to be included in the results.
###### GROUP BY: groups the results based on a specified column.
###### HAVING: specifies the conditions that must be met for a group to be included in the results.
###### ORDER BY: sorts the results based on a specified column, in ascending (ASC) or descending (DESC) order.
##### Here's an example SELECT statement:

In [ ]:
SELECT first_name, last_name, hire_date, salary
FROM employees
WHERE salary > 50000
ORDER BY last_name ASC;

###### This statement retrieves the first name, last name, hire date, and salary of all employees whose salary is greater than 50,000, sorted by last name in ascending order. The first line specifies the columns to be retrieved, the second line specifies the table to be queried, the third line specifies the condition that must be met, and the fourth line specifies the sorting order.

### Q5. Explain Primary Key and Foreign Key.

##### In a relational database, a primary key and a foreign key are used to establish a relationship between two tables.

##### A primary key is a column or set of columns in a table that uniquely identifies each row in the table. It serves as the unique identifier for each record in the table and must have a unique value for each row. Typically, a primary key is a single column with a unique value, but it can also be a combination of columns that create a unique value. The primary key is used to ensure data integrity and to establish relationships with other tables in the database. For example, in a database of students and courses, the "StudentID" column in the "Students" table could be used as a primary key to ensure each student has a unique ID.

##### A foreign key is a column in one table that refers to the primary key of another table. It creates a link between two tables and allows data to be retrieved from multiple tables at once. The foreign key is used to ensure referential integrity, which means that the data in the two tables is consistent and does not conflict with each other. For example, in a database of students and courses, the "StudentID" column in the "Courses" table could be used as a foreign key to link the courses taken by a particular student.

##### To create a relationship between two tables using primary and foreign keys, the foreign key column in the child table must match the primary key column in the parent table. The child table must also have a constraint that the foreign key column references the primary key column in the parent table. This ensures that data can only be entered into the child table if it matches an existing record in the parent table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### To connect to MySQL in Python, you need to install the "mysql-connector-python" module. You can install it using pip, which is the package installer for Python:

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 843.6 kB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\shaik\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

print(mydb)

###### After connecting to the database, you can create a cursor object using the cursor() method of the connection object. The cursor object is used to execute SQL statements and fetch data from the database. For example, you can use the execute() method of the cursor object to execute an SQL statement:

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

###### In this code, we create a cursor object mycursor using the cursor() method of the connection object mydb. We then use the execute() method of the cursor object to execute the SQL statement "SELECT * FROM customers", which selects all records from the "customers" table. We use the fetchall() method of the cursor object to retrieve all the records, and then use a loop to print each record.

### Q7. Give the order of execution of SQL clauses in an SQL query.

#### An SQL query consists of multiple clauses that are executed in a specific order to perform a particular operation. The order of execution of SQL clauses is as follows:

###### FROM: The FROM clause specifies the table or tables from which the data will be retrieved.

###### JOIN: The JOIN clause is used to combine rows from two or more tables based on a related column between them.

###### WHERE: The WHERE clause is used to filter the rows that meet a specific condition.

###### GROUP BY: The GROUP BY clause is used to group the rows that have the same values in a specific column.

###### HAVING: The HAVING clause is used to filter the groups that meet a specific condition.

###### SELECT: The SELECT clause is used to select the columns that will be retrieved from the tables.

###### DISTINCT: The DISTINCT clause is used to remove duplicates from the result set.

###### ORDER BY: The ORDER BY clause is used to sort the result set based on a specific column.

###### LIMIT: The LIMIT clause is used to limit the number of rows that are returned by the query.